flask>=2.3.0
flask-cors>=4.0.0
werkzeug>=2.3.0
g4f
groq>=0.4.0
requests>=2.31.0
pillow>=10.0.0
python-dotenv>=1.0.0
gunicorn>=21.0.0
dotenv
google-auth>=2.23.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.1
pymongo>=4.0.0